.grid{
    width: 770px;
    height: 400px;
    border: solid black 1px;
    margin-left:150px;
    margin-top: 72px;
    position: absolute;
    overflow: hidden;
}

.block{
    height: 20px;
    width: 145px;
    background-color: #5DD5E3;
    position :absolute;
}
.user{
    height: 20px;
    width: 145px;
    background-color: #86BF8F;
    position :absolute;
}

.ball{
    height: 20px;
    width: 20px;
    background-color: #86BF8F;
    position :absolute;
    border-radius: 50%;
}

.container {
width: 70%;
margin: auto;
text-align: center;
}
body {
background-color: #393E46;
}

h1 ,h3,h6{
margin: 25px;
font-family:  cursive;
text-shadow: 5px 0 #232931;
font-size: 5.5rem;
color: #4ECCA3;
}



h6{
font-size: 3rem;
font-family:  cursive;
}

footer {
margin-top: 40%;
color: #EEEEEE;
text-align: center;
font-family:  cursive;
}

