.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #393E46;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
    padding-bottom: 10%;
  }
  .computer{
      padding-right: 5%;
      margin-right: 10%;
  }
  .user{
      padding-left: 5%;
      margin-left: 10%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  
  button{
    background:    #4ecca3;
    border-radius: 17px;
    width:         200px;
    height:        50px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 26px/50px 'Indie Flower', cursive;
    text-align:    center;
    text-shadow:   1px 1px #000000;
    margin: 2% 5%;
  }
  

button:hover{

transition : 284ms;
/* padding: 10px 50px; */
transform : translateY(-0px);
background-color: #0bb076;
color: #5b6370;
border: none;
}

